.block-container {
    max-width: 1000px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
    font-size: 14px;
}

/* Padding above radio buttons */
.st-cb {
    padding-top: 0rem;
}

.st-e2 {
    min-height: 0rem;
}

.st-ca {
    padding-top: 0rem !important;
}

.st-ex {
    row-gap: 0rem;
}

.st-cd {
    flex-wrap: nowrap;
}

/* .st-d7 {
    padding-left: 6px;
} */

.st-eo {
    padding-left: 6px;
}

.st-d8 {
    padding-left: 7px;
}

h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    letter-spacing: -0.005em;
    padding: 1rem 0px 1rem;
    margin: 0px;
    line-height: 1.2;
}

p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
}

.p-6 {
    padding: 1rem;
}

.st-e3 {
    margin-right: 0.3rem;
}

.st-e4 {
    padding-right: 0.25rem;
}

.st-cj {
    padding-right: 0rem;
}

.st-cg {
    min-height: 2.0rem;
}

.st-ci {
    margin-right: 0.5rem;
}

.st-ew {
    column-gap: 0px;
}

.st-f5 {
    padding-left: 5px;
}

.st-emotion-cache-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 0.5rem;
}

.st-emotion-cache-1clstc5 {
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.st-emotion-cache-1sbzx8r {
    width: 328px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0.5rem;
}

.st-emotion-cache-okmazl {
    width: 944px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0.5rem;
}

.st-emotion-cache-p5msec {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 14px;
    padding: 0rem 0rem;
    list-style-type: none;
}

.st-emotion-cache-1g9he0z {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px -1px 0px 0px;
    width: auto;
    cursor: pointer;
    user-select: none;
    background: rgba(255, 75, 75, 0.1);
    border: 1px solid rgb(255, 75, 75);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    height: 2rem;
    min-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25rem 0.75rem;
    border-radius: 0px;
    flex: 1 0 fit-content;
    max-width: 100%;
    color: rgb(255, 75, 75);
    z-index: 1;
}

.st-emotion-cache-13jrk4y {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px -1px 0px 0px;
    color: inherit;
    width: auto;
    cursor: pointer;
    user-select: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(49, 51, 63, 0.2);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    height: 2rem;
    min-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25rem 0.75rem;
    border-radius: 0px;
    flex: 1 0 fit-content;
    max-width: 100%;
}

.st-emotion-cache-1g9he0z {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px -1px 0px 0px;
    width: auto;
    cursor: pointer;
    user-select: none;
    background: rgba(255, 75, 75, 0.1);
    border: 1px solid rgb(255, 75, 75);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    height: 2rem;
    min-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25rem 0.50rem;
    border-radius: 0px;
    flex: 1 0 fit-content;
    max-width: 100%;
    color: rgb(255, 75, 75);
    z-index: 1;
}

.st-emotion-cache-1h9usn1 {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    border-style: none;
    border-width: 1px;
    border-color: rgba(49, 51, 63, 0.2);
    border-radius: 0.5rem;
}
